// styles for current KAYAK campaign

html,
body,
.body {
  background: #e4e5ea;
  background-color: #e4e5ea;
  padding-bottom: 15px;
  padding-top: 15px;
}

.header-section {
  background: $primary-color;
  background-color: $primary-color;

  .columns {
    padding-bottom: 20px;
    padding-right: 20px !important;
    padding-left: 20px !important;
    padding-top: 20px !important;

    .main-logo {
      width: 128px;
    }

    .user-icon {
      width: 32px;
    }
  }
}

.sub-header {
  background: #d65600;
  background-color: #d65600;

  .columns {
    padding-bottom: 5px;
    padding-right: 10px !important;
    padding-left: 10px !important;
    padding-top: 5px !important;

    a {
      color: #fff;
      font-size: 14px;
      font-weight: 700;

      .icons {
        width: 20px;
        margin-right: 5px;
        display: inline-block;
        //for centering
        vertical-align: bottom;
      }
    }

    th {
      text-align: center;
    }

    .menu-divider {
      background: #ff690f;
      background-color: #ff690f;
      display: block;
      height: 20px;
      width: 2px;
    }
  }
}

// Start of Deal of the day section

.deal_of_day {
  background: #13191f;
  background-color: #13191f;

  .columns {
    th {
      padding-top: 30px;
      padding-bottom: 20px;

    }
  }

  img {
    padding-bottom: 20px;
  }

  h2 {
    color: #fff;
    font-weight: 900;
    font-size: 30px;
    text-align: center;
    padding-bottom: 20px;
  }

  p {
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    padding-bottom: 20px;
    text-align: center;
  }

  span {
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    display: block;

    &.save_amount {
      font-size: 16px;
    }

    &.tiny_info {
      font-size: 14px;
      font-weight: 300;
      padding-bottom: 10px;
    }

    &.price {
      font-size: 20px;
      font-weight: 600;
      padding-bottom: 10px;
    }
  }

  .button {
    color: white;
    display: inline-block;
    width: 150px;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
    border: 1px solid #fff;
    border-radius: 5px;
    transition: all .2s ease-in-out;

    &:hover {
      background: $primary-color;
    }
  }
}

// End of Deal of the day section

// Start of Main Content Area section

.content_area {
  background: #f1f4f7;
  background-color: #f1f4f7;

  &>tbody>tr>th {
    padding-top: 0;
  }

  .first_offer {
    padding-top: 16px !important
  }

  .single_offer {
    background: #fff;
    background-color: #fff;

    .columns {
      th {
        padding: 20px; //top right bottom left exterior column padding
      }

      &>table {
        // prevents content from expanding as a result of padding adding up
        max-width: 568px;
        table-layout: fixed;
      }
    }

    img {
      padding-bottom: 20px;
    }

    h2 {
      color: white;
      font-weight: 900;
      font-size: 30px;
      text-align: center;
      padding-bottom: 20px;
    }

    p {
      color: #334755;
      font-weight: 600;
      font-size: 16px;
      padding-bottom: 20px;
      text-align: center;
    }

    span {
      color: white;
      font-weight: 600;
      font-size: 16px;
      text-align: center;
      display: block;

      &.save_amount {
        font-size: 16px;
        color: #1a88f3;
      }

      &.tiny_info {
        font-size: 14px;
        font-weight: 500;
        padding-bottom: 10px;
        color: #334755;
      }

      &.price {
        font-size: 20px;
        font-weight: 600;
        padding-bottom: 10px;
        color: #334755;
      }

    }

    // class to align button center
    .center-fix {
      min-width: 0 !important;
    }

    .button {
      background: #14181c;
      background-color: #14181c;
      color: white;
      display: inline-block;
      width: 150px;
      text-align: center;
      padding-top: 7px;
      padding-bottom: 7px;
      border: 1px solid #fff;
      border-radius: 5px;
      transition: all .2s ease-in-out;

      &:hover {
        background: $primary-color;
      }
    }

    //last offer section

    &.last_offer {

      .group-icons {
        width: 190px;
        //center icons
        margin: 0 auto;
        padding-bottom: 0;
      }

      h4 {
        color: #334755;
        font-weight: 600;
        font-size: 16px;
        padding-bottom: 20px;
        text-align: center;
        text-transform: Uppercase;
      }

      p {
        color: #334755;
        font-weight: 400;
        font-size: 14px;
        padding-bottom: 20px;
        text-align: center;
      }
    }

    // end of last offer section

  }

}

// End of Main Content Area section

.footer_top {
  background: #222d37;
  background-color: #222d37;
  color: #fff;

  &>tbody>tr {
    vertical-align: middle;
  }

  &>tbody>tr>th {
    padding-bottom: 25px !important;
    padding-top: 30px !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
  }

  th {
    padding-bottom: 0;
    padding-top: 0;
  }

  .circle_logo {
    display: block;
    margin: 0 auto;
  }

  .call_to_action {
    display: block;
    font-size: 14px;
    hyphens: none;
    color: #fff;
    padding-left: 10px;
  }

  .info {
    display: block;
    font-size: 12px;
    hyphens: none;
    color: #fff;
    padding-left: 10px;
  }

  .info_section>table>tbody>tr>th {
    padding-left: 10px !important;
    color: #fff !important;
  }

  .store_logos {
    img {
      height: 40px;
      width: 120px;
      display: block;
      margin: 0 auto;
      padding-bottom: 5px;
      padding-top: 5px;
    }

    &>table>tbody>tr>th>table>tbody>tr>th {
      padding-bottom: 5px;
    }

  }
}

.footer_social {
  background: #14181c;
  background-color: #14181c;

  &>tbody>tr>th {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  th {
    padding-top: 0;
    padding-bottom: 0;
  }

  .logo_section {
    img {
      width: 128px;
    }
  }

  .social_icons {
    img {
      width: 32px;
      display: block;
      margin: 0 auto;
    }
  }
}

// Footer service offerings section

.footer_sub_menu {
  background: #14181c;
  background-color: #14181c;
  border-top: 1px solid #2d3e4b;
  border-bottom: 1px solid #2d3e4b;

  .columns {
    padding-bottom: 5px;
    padding-right: 10px !important;
    padding-left: 10px !important;
    padding-top: 5px !important;

    a {
      color: #fff;
      font-size: 14px;
      font-weight: 700;

      .icons {
        width: 20px;
        margin-right: 5px;
        display: inline-block;
        //for centering
        vertical-align: bottom;
      }
    }

    th {
      text-align: center;
    }

    .menu-divider {
      background: #2d3e4b;
      background-color: #2d3e4b;
      display: block;
      height: 20px;
      width: 2px;
    }
  }
}


// Footer bottom section starts

.footer_bottom {
  background: #14181c;
  background-color: #14181c;

  &>tbody>tr>th {
    padding-left: 30px !important;
    padding-bottom: 30px !important;
    padding-right: 30px !important;
    padding-top: 30px !important;
  }

  .lower_links {

    // &>tbody>tr>th>table>tbody>tr>th {
    //   text-align: center;
    // }

    .option_link {
      color: #fff !important;
      font-size: 13px !important;
      transition: all .2s ease-in-out;
      margin-right: 10px;

      &:nth-child(4) {
        margin-right: 0;
      }

      &:hover {
        color: $primary-color;
      }
    }
  }

  .privacy_notice {

    th {
      padding-bottom: 0 !important;
    }

    &>tbody>tr>th>table>tbody>tr>th {
      padding-bottom: 30px !important;
    }

    p {
      color: #a0a1a3;
      font-size: 14px;
      padding-bottom: 30px;
    }
  }

  .copyright_info,
  .address_info {
    th {
      padding-bottom: 0px;
    }

    .columns {
      p {
        color: #86888a;
        font-size: 13px;
        font-weight: 500;
        padding-bottom: 0px;
      }
    }
  }
}

// Footer bottom section ends


//hacky workaround/might not need it
.center-tag {
  min-width: auto;
}

//removing extra white space generated by framework in order for design to look the same on firefox
@media only screen and (max-width: 596px) {

  td.small-6,
  th.small-6 {
    display: table-cell !important;
  }
}

@media only screen and (max-width: 596px) {

  td.small-4,
  th.small-4 {
    display: table-cell !important;
  }
}


// An alternate way to fix centering the "see deal" button is to add a class to the center tag 
// holding said button that sets min-width to 0 it also works for the group-icons

// .center-fix {
//     min-width: 0 !important;
// }