<container>
  <row class="footer_top">
    <columns small="6" large="5">
      <row>
        <columns small="3" large="2">
          <img src="{{root}}/assets/img/kayak_files/logo_circle.png" class="circle_logo" alt="">
        </columns>
        <columns small="9" large="9" class="info_section" valign="middle">
          <span class="call_to_action">Download the app</span>
          <span class='info'>cheap flights, hotels & more</span>
        </columns>
      </row>
    </columns>

    <columns small="6" large="7" class="store_logos">
      <row>
        <columns large="6" valign="middle">
          <img src="{{root}}/assets/img/kayak_files/appstore.png" alt="">
        </columns>
        <columns large="6" valign="middle">
          <img src="{{root}}/assets/img/kayak_files/playstore.png" alt="">
        </columns>
      </row>
    </columns>
  </row>
</container>

<container>
  <row class="footer_social">
    <columns small="6" large="9" class="logo_section" valign="middle">
      <img src="{{root}}/assets/img/kayak_files/logo_orange.png" alt="">
    </columns>
    <columns small="6" large="3" valign="middle">
      <row class="social_icons">
        <columns small="4" large="4">
          <img src="{{root}}/assets/img/kayak_files/facebook.png" alt="">
        </columns>
        <columns small="4" large="4">
          <img src="{{root}}/assets/img/kayak_files/twitter.png" alt="">
        </columns>
        <columns small="4" large="4">
          <img src="{{root}}/assets/img/kayak_files/instagram.png" alt="">
        </columns>
      </row>
    </columns>
  </row>
</container>