<container>
  <row class="footer_top">
    <columns small="6" large="5">
      <row>
        <columns small="3" large="2">
          <img src="{{root}}/assets/img/kayak_files/logo_circle.png" class="circle_logo" alt="">
        </columns>
        <columns small="9" large="9" class="info_section" valign="middle">
          <span class="call_to_action">Download the app</span>
          <span class='info'>cheap flights, hotels & more</span>
        </columns>
      </row>
    </columns>

    <columns small="6" large="7" class="store_logos">
      <row>
        <columns large="6" valign="middle">
          <img src="{{root}}/assets/img/kayak_files/appstore.png" alt="">
        </columns>
        <columns large="6" valign="middle">
          <img src="{{root}}/assets/img/kayak_files/playstore.png" alt="">
        </columns>
      </row>
    </columns>
  </row>
</container>

<container>
  <row class="footer_social">
    <columns small="6" large="9" class="logo_section" valign="middle">
      <img src="{{root}}/assets/img/kayak_files/logo_orange.png" alt="">
    </columns>
    <columns small="6" large="3" valign="middle">
      <row class="social_icons">
        <columns small="4" large="4">
          <img src="{{root}}/assets/img/kayak_files/facebook.png" alt="">
        </columns>
        <columns small="4" large="4">
          <img src="{{root}}/assets/img/kayak_files/twitter.png" alt="">
        </columns>
        <columns small="4" large="4">
          <img src="{{root}}/assets/img/kayak_files/instagram.png" alt="">
        </columns>
      </row>
    </columns>
  </row>
</container>

<container>
  <row class="footer_sub_menu">
    <columns style="width: 90%">
      <row>
        <columns small="4" large="3">
          <a href="#" class="text-center">
            <img src="{{ root }}/assets/img/kayak_files/airplane.png" class="icons" alt="flights image" />
            Flights
          </a>
        </columns>
        <columns class="show-for-large" style="width: 1%">
          <span class="menu-divider"></span>
        </columns>
        <columns small="4" large="3">
          <a href="#" class="text-center">
            <img src="{{ root }}/assets/img/kayak_files/bed.png" class="icons" alt="kayak logo" />
            Hotels
          </a>
        </columns>
        <columns class="show-for-large" style="width: 1%">
          <span class="menu-divider"></span>
        </columns>
        <columns small="4" large="3">
          <a href="#" class="text-center">
            <img src="{{ root }}/assets/img/kayak_files/car.png" class="icons" alt="kayak logo" />
            Cars
          </a>
        </columns>
        <columns class="show-for-large" style="width: 1%">
          <span class="menu-divider"></span>
        </columns>
        <columns small="4" large="3" class="show-for-large">
          <a href="#" class="text-center">
            <img src="{{ root }}/assets/img/kayak_files/umbrella.png" class="icons" alt="kayak logo" />
            Packages
          </a>
        </columns>
      </row>
    </columns>
  </row>
</container>

<container>
  <row class="footer_bottom">
    <columns>
      <!-- lower links starts -->
      <row class="lower_links">
        <columns>
          <center class="center-tag">
            <a href="#" class="option_link">Unsubscribe</a>
            <a href="#" class="option_link">Email Preferences</a>
            <a href="#" class="option_link">Feedback</a>
            <a href="#" class="option_link">Privacy Policy</a>
          </center>
        </columns>


      </row>
      <!-- lower links ends -->
      <!-- Privacy starts -->
      <row class="privacy_notice">
        <columns>
          <p>
            Prices, savings, and availability may vary. Additional restrictions may apply. Savings are not ensured.
            KAYAK
            does not sell tickets but provides a price comparison service. The deals in this newsletter were current at
            the time this email was published and subject to change based on date, time and availability, which may be
            extremely limited. KAYAK accepts no liability for inaccuracies arising from this or any other cause,
            including, but not limited to, expiration of deals and typographical error, we are not responsible for any
            loss, damages, or injury incurred by the deals herein. Unless otherwise specified, hotel prices are per
            night,
            based on double-occupancy rooms and do not include taxes and fees. Unless specified to be one-way (ow) or
            otherwise, flight prices are for round-trip (rt) economy class travel and include taxes and fees. If in
            doubt,
            always consult the agent or company supplying the tickets.
            Unless otherwise specified, package prices include flight + hotel, taxes and fees, but not baggage fees or
            other fees charged directly by the airline for the included flight.
            Cruise and car rental prices do not include taxes and fees. Please check the provider's webpage or contact
            the
            provider for additional details.
          </p>
        </columns>
      </row>
      <!-- Privacy ends -->
      <!-- copyright row starts -->
      <row class="copyright_info">
        <columns>
          <p>&copy; 2020 KAYAK Software Corporation</p>
        </columns>
      </row>
      <!-- copyright row ends -->
      <!-- address row starts -->
      <row class="address_info">
        <columns>
          <p>7 Market Street Stamford, CT 06902-5810 US</p>
        </columns>
      </row>
      <!-- address row ends -->

    </columns>
  </row>
</container>